body{
    color:rgb(0, 0, 0);
    background:rgb(12, 12, 12);
    margin:0px;
    font-family: "Pacifico", cursive;
}


header{
border-bottom: solid 2px rgb(133,133,172);
padding:20px;
font-size: 21px;
color:rgb(133,133,172);
}

section{
   background:#aaa;
   padding-bottom:80px;
   padding-top:80px;
   display: flex;
   justyfy-content: center;
}
   

.chamada-texto{
    margin-right: 5%;
}
