body{
    color:blueviolet;
    background:rgb(12, 12, 12);
    margin:0px;
}


header{
border-bottom: solid 2px rgb(133,133,172);
padding:20px;
font-size: 21px;
color:rgb(133,133,172);
}

section{
   background: wheat;
}